body {
  height: 700px;
  width: 500px;
  margin: auto;
  font-family: Georgia, 'Times New Roman', Times, serif;
  text-align: center;
  background-color: rgb(46, 94, 87);
  color: whitesmoke;
  padding: 15px;
  border: 5px solid rgba(20, 14, 3, 0.869);
}

.modal {
  color: rgba(64, 7, 105, 0.669);
  font-family: fantasy;
  display: none;
  width: 300px;
  margin: auto;
  font-size: 20px;
  padding: 15px;
}

.cell {
  width: 40px;
  height: 40px;
  text-align: center;
  font-size: 1.5em;
}
.board-container {
  text-align: center;
}
/* .formLine {
  margin: 10px;
  padding: 10px;
  background-color: cornflowerblue;
} */
img {
  height: 1.5em;
  /* font-size: 1.5em; */
}
.board-container {
  margin-left: 25px;
}

button {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: 1000;
  background-color: rgb(121, 53, 130);
  height: 80px;
  width: 80px;
  border-radius: 40%;
  margin: center;
  padding: 20px;
}

button:hover {
  background-color: rgb(159, 65, 246);
  cursor: pointer;
}
